---
title: Nunjucks Filters
docs: https://mozilla.github.io/nunjucks/templating.html#builtin-filters
permalink: /nunjucks_filters.html
lib: nunjucksPkg
---

<h1>{{ title }}</h1>

{% set filters = nunjucks.filters %}
{% include "filters_table.liquid" %}

<p>{% versionString versions, "eleventyPkg" %} &mdash; {% versionString versions, lib %}</p>
